html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-main {
  width: 100%; }

.l-section {
  margin: 30px 0; }

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center; }
  .btn:hover {
    opacity: 0.5; }

.product-item-list {
  justify-content: center; }

.product {
  margin: 50px 5px;
  background-color: #1F1F26;
  height: 360px;
  width: 380px; }
  .product:hover {
    opacity: 0.5;
    transform: scale(1.02);
    transition-duration: 0.3s; }
  .product .product-item {
    padding: 0 30px; }
  .product .product-text {
    padding: 15px 0; }
    .product .product-text p {
      color: #b7bbc8; }

.item-img {
  text-align: center;
  padding: 10px 0; }
  .item-img img {
    justify-content: center;
    width: 320px;
    height: 200px; }

.product-body {
  margin-bottom: 30px; }
  .product-body img {
    width: 50px;
    height: auto;
    border-radius: 5px; }
  .product-body .user-status p {
    padding: 0;
    margin: 0 16px;
    font-size: 16px; }
  .product-body .user-status .user-name {
    color: #d3d3d3; }

.product-footer {
  font-size: 18px; }
  .product-footer .footer-btn {
    margin-right: 2px;
    padding: 5px;
    background-color: black;
    border-radius: 3px;
    color: white; }

.product-item-list-footer {
  text-align: center;
  font-size: 20px; }
  .product-item-list-footer a {
    border: solid; }

.features {
  padding: 50px 20px;
  justify-content: space-around; }

.feature {
  margin: 50px 5px;
  background-color: #1F1F26;
  border-radius: 5px;
  height: 320px;
  width: 380px; }
  .feature .feature-icon {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    bottom: 35px;
    background-color: black;
    border-radius: 5px;
    height: 70px;
    width: 70px; }
  .feature .feature-container {
    padding: 20px 10px; }
  .feature .fa {
    color: white;
    font-size: 3.5em; }
  .feature .feature-title {
    margin: 10px 0;
    font-size: 30px; }
  .feature .feature-text {
    color: #d3d3d3;
    font-size: 18px; }
  .feature .btn {
    background-color: #808080;
    height: 40px; }

.pro {
  margin-left: 2px;
  padding: 2px;
  background-color: gold;
  border-radius: 3px;
  color: black;
  font-size: 0.8em; }

.footer {
  justify-content: space-between;
  padding: 30px;
  background-color: black; }

.footer-menus ul {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  padding-left: 0; }
  .footer-menus ul li {
    margin-right: 20px; }
    .footer-menus ul li a {
      font-size: 18px;
      font-weight: normal;
      color: #b7bbc8; }

.footer-menus .footer-menutitle {
  font-size: 18px;
  font-weight: bold;
  color: white; }

.copyright-text {
  font-size: 18px;
  color: #b7bbc8; }

.l-content {
  margin: 20px 40px; }

.hero-left {
  width: 50%; }
  .hero-left .fa {
    font-size: 2.5em; }
  .hero-left .hero-title {
    font-size: 50px;
    margin: 10px 0; }
  .hero-left .hero-text {
    font-size: 20px; }
  .hero-left .hero-signup-btn {
    display: inline-block;
    background-color: #00ff7f;
    color: black;
    font-size: 20px;
    height: 50px;
    width: 200px; }

.hero-right {
  width: 50%; }
  .hero-right .hero-right-background {
    background: linear-gradient(to bottom right, #d3d3d3, #2a2a2a);
    height: 450px;
    width: 550px;
    border-radius: 5px; }

.hero-right-box {
  background-color: #1d1e22;
  height: 160px;
  width: 350px;
  border-radius: 5px;
  font-size: 13px; }
  .hero-right-box .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 40px; }
    .hero-right-box .box-header .fa-cog {
      font-size: 1.3em;
      margin: 5px 5px; }
    .hero-right-box .box-header h3 {
      margin: 5px 5px; }
  .hero-right-box p {
    margin: 0 5px;
    font-size: 14px; }

.box-html {
  position: relative;
  left: 180px;
  bottom: 30px; }

.box-scss {
  position: relative;
  left: 240px;
  bottom: 20px; }
  .box-scss .line-2 {
    margin-left: 2rem; }
  .box-scss .line-3-5 {
    margin-left: 4rem; }

.box-js {
  position: relative;
  left: 180px;
  bottom: 10px; }

.chocolate {
  color: #d2691e; }

.yellow {
  color: yellow; }

.green {
  color: #228b22; }

.palevioletred {
  color: #db7093; }

.blue {
  color: #1e90ff; }

.cursor {
  animation-name: cursor;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running; }

@keyframes cursor {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.l-header {
  display: flex;
  margin-top: 10px;
  margin-left: 10px; }

.search-form {
  align-items: center;
  background-color: #1F1F26;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
  height: 50px; }
  .search-form .fa {
    font-size: 1.8em;
    margin-right: 15px; }
  .search-form .form-text {
    color: #d3d3d3;
    background-color: #1F1F26;
    font-size: 25px;
    border: 0; }

.header-btn {
  font-size: 18px; }
  .header-btn .signup-btn {
    background-color: #00ff7f;
    color: black; }
  .header-btn .login-btn {
    margin-left: 10px;
    background-color: #808080; }

@media (max-width: 576px) {
  .sidebar {
    display: none; } }

.l-sidebar {
  flex: 1;
  background-color: #1F1F26; }

.title-logo {
  text-align: center;
  font-size: 36px; }

a {
  text-decoration: none;
  display: block; }

.get-start {
  text-align: center; }

.start-announce {
  color: #b7bbc8;
  margin-bottom: 0; }

.start-btn {
  display: inline-block;
  font-size: 18px;
  margin: 0 15px;
  padding-top: 8px;
  color: white;
  background: linear-gradient(black, black), linear-gradient(90deg, #00ff00 0%, #FFCC00 25%, #CC99FF 50%, #00CCFF 75%, #00ff00 100%);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 3px solid transparent;
  width: 200px;
  height: 50px; }

.sidebar-menus p {
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 16px; }

.sidebar-menus a {
  padding-left: 20px;
  font-size: 16px; }
  .sidebar-menus a:hover {
    background-color: black; }

.sidebar-menus .explore-text {
  color: gold; }

.sidebar-menus .grow-text {
  color: #32cd32; }

.sidebar-menus .companies-text {
  color: #00bfff; }

.sidebar-menus .pro {
  margin-left: 2px;
  padding: 2px;
  background-color: gold;
  border-radius: 3px;
  color: black;
  font-size: 0.8em; }

.sidebar-menus .sidebar-footer {
  margin-top: 20px; }
  .sidebar-menus .sidebar-footer a {
    color: #b7bbc8; }
