.l-footer
    margin: 20px
    float: left
    .footer-list
        display: inline
        float: left
        .footer-list-menus
            font-weight: bold
            font-size: 18px
            display: inline
        ul
            li
                display: inline
                color: #b7bbc8
                font-weight: lighter