.l-header
    display: flex

    
    .search-form
    background-color: #252830
    margin: 10px
    border-radius: 30px
    
    i
        font-size: 25px
        margin: 10px

    .form-text
        margin-top: 10px
        background-color: #252830
        border: none
        line-height: 25px
        font-size: 20px
        font-weight: bold

    
    .header-btn
        padding: 10px
        a
            text-decoration: none
            border-radius: 5px
            padding: 10px 20px
            font-size: 20px
            font-weight: lighter
            min-width: 100px

        .sign-up
            background-color: #00AA00
            color: black
            margin-right: 5px

        .login
            background-color: #AAAAAA