
    
.l-sidebar
    width: 200px
    
.sidebar
    background-color: #1f1f26
    

.Title-logo
        margin-top: 20px
        margin-bottom: 20px
        text-align: center 
        font-size : 34px

.starting-up
    text-align: center
    margin-bottom: 30px

    .annnounce
        font-size: 13px 
        font-weight: lighter
        color: #b7bbc8
        margin-bottom: 20px
    .btn
        font-size: 16px
        font-weight: bold
        text-decoration: none
        //https://qiita.com/toshifumiimanishi/items/1bc5f966a1e59c2292bb//
        background: linear-gradient(black, black), linear-gradient(90deg, #00ff00 0%, #FFCC00 25%, #CC99FF 50%, #00CCFF 75%, #00ff00 100%)
        background-clip: padding-box, border-box
        background-origin: border-box
        border: 3px solid transparent
        border-radius: 3px
        width: 100px
        height: 40px
        
        padding-top: 12px
        padding-bottom: 12px
        padding-right: 30px
        padding-left: 30px
        &:hover
            opacity: 0.5

ul
    list-style: none
    display:table
    margin-top: 0
    padding-left: 0
    font-size: 18px
    a
        display: block
        text-decoration: none
        padding-left: 15px
        &:hover
            background-color: black
        


.sidebar-list
    p
        margin-left: 15px
    .PRO
        background-color: black

    .sidebar-list-menutitle
        margin-bottom: 2px

    
    
.title-explore
    color: #ffd700

.title-grow
    color: #32cd32

.title-companies
    color: #00bfff

.other-menus
    a
        color: #b7bbc8



